<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <style>
  
  body {
      font-family: Arial;
      padding: 10px;
      background:  #e9d7d7;
  }

.btn-primary{
  background-color:  #130101;
  color: white;
}

.btn-primary:hover {
  background-color: #8d0e0eed;
  color: white;
}
  </style>
  
  <body>

    {% block content %}
    {% endblock %}

  </div>

  </body>
</html>